<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
<body>
    <header class="header-nav">
    <nav><a href="#first-block"></a></nav>
    </header>

    <section id="first-block">
    <div class="title-container">
    <div class="title-text">
      CurlMeetとは・・・・<br>
      ~ 全国のCulerがチームを組むことを目的とした <br>
      個人，チームのためのホームページ ~
    </div>
    </div>
  </section>
<br>
メンバー募集掲示板（チーム用）
<%= link_to "新規投稿ページへ", teams_new_path %>
<%= link_to '一覧表示', teams_path %>
<br>
チーム加入希望掲示板（個人用）
<%= link_to '一覧表示', users_path %>
