<div class="title-index">管理者ページ</div>
<% if user_signed_in? %>
    <% if current_user.admin? %>
     <% sum = 0 %></p>
     <% @users.each do |u| %>
        名前 : <%= u.uname %>
        メールアドレス : <%= u.email %>
        <br>
      <% sum += 1 %>
     <% end %>
      <p>登録者合計：<%= sum %></p>
    <% else %>
    <div class="title-index">管理者マイページ</div>
    お問い合わせなどは下記リンクの管理者のマイページのDMからお願いします．
    <br>
    <%= link_to @hello.uname, user_path(@hello.id) %>
    <br>
    <% end %>
<% end %>
   
