// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.dm-link{
    text-align: center;
    font-weight: 600;
}

.submit-link {
	justify-content: center;
	align-items: center;
	position: relative;
	width: 70px;
	height: 40px;
	color: #333;
	font-size: 14px;
	font-weight: 100;
	text-decoration: none;
	transition: 0.3s;
	background-color: #ffffff;
    color: #000000;
	border: 2px solid aqua;
    border-radius: 100px;
}

.submit-link:hover {
	background-color: aqua;
    color: #000000 ;
	border: 1px solid #333;
}


